# Ingestion HTTP Service
PORT=8080

# Redis Stream Buffer
REDIS_ADDR=localhost:6379
REDIS_PASSWORD=
REDIS_DB=0
RAW_STREAM_NAME=raw_events
CONSUMER_GROUP=ulpf-worker-group
CONSUMER_NAME=worker-1

# MinIO / S3 Immutable Raw Event Store
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadminpassword
MINIO_USE_SSL=false
MINIO_BUCKET=raw-events
